:root {
    --background-color: #1f1707;
    --background-color-secondary: #392c13;
    --text-color: #ffffff;
    --accent-color: #00481B;

    --logo-bg: #775300;
    --logo-history-outline: #001C0A;
    --logo-history-fill: #00481B;
    --logo-key-outline: #655B00;
    --logo-key-fill: #BEA000;
}